{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Your Cart</title>
{% endblock title %}
{% block content %}
     {% if cart.products.all %}
        <div class="container" style="padding-top: 10px;">
            <h2>YOUR CART :</h2>
        	<div class="row bg-light" style="padding: 10px">
                <table class="table table-responsive"style="max-width:100%">
                    <tr class="table_header">
                        <th class="column-0">#</th>
                        <th class="column-1">Image</th>
                        <th class="column-2">Product</th>
                        <th class="column-3">Price</th>
                        <th class="column-4">Quantity</th>
                        <th class="column-5 ">Total</th>
                        <th class="column-6 "></th>
                    </tr>

                    {% for product in cart.products.all %}

                    <tr class="table_row">
                        <td class="column-0"> {{forloop.counter}} </td>
                        <td class="column-1" ><div><img style="max-height:80px" src="{{product.book_cover.url}}" /></div></td>
                        <td class="column-2 "><a href="{% url 'BookStore:book_details' product.id %}">{{product.book_title}}</a> </td>
                        <td class="column-3">$ {{product.book_price}} </td>
                        <td class="column-4">
                            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                </div>
                                <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="1">
                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m"></div>
                                <i class="fs-16 zmdi zmdi-plus"></i>
                            </div>
                        </td>
                        </td>
                        <td class="column-5">$ {{product.book_price}}</td>
                        <td class="column-6">
                            <form method="POST" action="{% url 'carts:remove_from_cart' %}" class="form">
                                {% csrf_token %}
                                <input type="hidden" name="book_id" value="{{ book.id }}">
                                <button type="submit" class="btn btn-link text-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="table_row">
                        <td class="column-1"></td>
                        <td class="column-2"></td>
                        <td class="column-3"></td>
                        <td class="column-5"></td>
                        <td class="column-4">Total Amount </td>
                        <td class="column-6">$ {{cart.total}} </td>
                        <td class="column-5"><button type="button" class="btn btn-link bg-success"><a href="#" style="color:white"> Checkout</a></button></td>
                    </tr>
                </table>
            </div>
        </div>
    {% else %}
    <div class="container" style="padding: 20px">
        <div class="row">
            <div></div><h4>There is no item in your cart.</h4>
        </div>
        <button class=" btn bg-success text-light"><a class="text-light"href="{% url 'BookStore:library' %}">Find new items</a></button>
    </div>
   {% endif %}
{% endblock content %}
{% block footer %}
{% endblock footer %}