{% extends "base.html" %}
{% load static %}


{% block content %}

 {% block title %} <title>Details page: {{book.book_title}}</title>{% endblock title %}

        <div class="container" style="padding: 20px">
        	<div class="row">
               <div class="col-lg-4 col-sm-6 col-md-4 item-photo">
                    <img style="max-width:100%; border-radius: 2%" src="{{book.book_cover.url}}" />
                </div>
                <div class="col-6" style="border:0px solid gray">

                    <h4 class="text-primary">Title: {{book.book_title}}</h4>
                    <h5 style="color:#337ab7"> Sub-title: {{book.book_subtitle}}<br>Author: <a href="#">{{book.author_name}}</a></h5>

                    <div class="section" style="padding-top:20px;">
                        <form method="POST" action="{% url 'mylibrary:add_to_my_library' %}" class="form">
                            {% csrf_token %}
                            <input type="hidden" name="book_id" value="{{book.id}}">
                            <button class="btn btn-success btn-sm"><a href="{% url 'BookStore:BookReaderSlugView' book.slug %}" class="text-light">Read now</a></button>
                            <button type="submit" class="btn btn-link bg-success text-light fa fa-plus"> My Library</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}