{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Book Store</title>
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'CSS/storepage.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body style="background-color: pink">

<div class="container">
    <h3 class="h3 ss" style="text-color:navy"><u>Inspired by your interest</u></h3>
    <div class="row">
        {% for book in books %}
        <div class="col-md-2 col-sm-4">
            <div class="product-grid mt-2 mb-2" style="height:100%; border-radius: 5%" >
                <div class="product-image">
                    <a href="{% url 'BookStore:BookDetailSlugView' book.slug %}">
                        <img class="pic-1" src="{{book.book_cover_thumbnail.url}}">
                    </a>
                    <span class="product-new-label"></span>
                    <span class="product-discount-label"></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="container">
    <h3 class="h3 ss"style="text-color:navy"><u>Latest books</u></h3>
    <div class="row">
        {% for book in latest_books %}
        <div class="col-md-2 col-sm-4">
            <div class="product-grid mt-2 mb-2" style="height:100%; border-radius: 5%" >
                <div class="product-image">
                    <a href="{% url 'BookStore:BookDetailSlugView' book.slug %}">
                        <img class="pic-1" src="{{book.book_cover_thumbnail.url}}">
                    </a>
                    <span class="product-new-label"></span>
                    <span class="product-discount-label"></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="container">
    <h3 class="h3 ss" style="text-color:navy"><u>Text books</u></h3>
    <div class="row">
        {% for book in books %}
        <div class="col-md-2 col-sm-4">
            <div class="product-grid mt-2 mb-2" style="height:100%; border-radius: 5%" >
                <div class="product-image">
                    <a href="{% url 'BookStore:BookDetailSlugView' book.slug %}">
                        <img class="pic-1" src="{{book.book_cover_thumbnail.url}}">
                    </a>
                    <span class="product-new-label"></span>
                    <span class="product-discount-label"></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h3 class="h3 ss"style="text-color:navy"><u>Non-Fiction Books</u></h3>
    <div class="row">
        {% for book in books %}
        <div class="col-md-2 col-sm-4">
            <div class="product-grid mt-2 mb-2" style="height:100%; border-radius: 5%" >
                <div class="product-image">
                    <a href="{% url 'BookStore:BookDetailSlugView' book.slug %}">
                        <img class="pic-1" src="{{book.book_cover_thumbnail.url}}">
                    </a>
                    <span class="product-new-label"></span>
                    <span class="product-discount-label"></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="container">
    <h3 class="h3" style="text-color:navy"><u>Fiction Books</u></h3>
    <div class="row">
        {% for book in books %}
        <div class="col-md-2 col-sm-4">
            <div class="product-grid mt-2 mb-2" style="height:100%; border-radius: 5%" >
                <div class="product-image">
                    <a href="{% url 'BookStore:BookDetailSlugView' book.slug %}">
                        <img class="pic-1" src="{{book.book_cover_thumbnail.url}}">
                    </a>
                    <span class="product-new-label"></span>
                    <span class="product-discount-label"></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h3 class="h3"style="text-color:navy"><u>miscellaneous Books</u></h3>
    <div class="row">
        {% for book in books %}

        <div class="col-md-2 col-sm-4">
            <div class="product-grid mt-2 mb-2" style="height:100%;border-radius: 5%; " >
                <div class="product-image">
                    <a href="{% url 'BookStore:BookDetailSlugView' book.slug %}">
                        <img class="pic-1" src="{{book.book_cover_thumbnail.url}}">
                    </a>
                    <span class="product-new-label"></span>
                    <span class="product-discount-label"></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
{% endblock content %}